<header>
 <!-- Navbar -->
  <nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{title | uppercase}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link link-light active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
</header>

<main>
  <section class="container-fluid">
    <button class="btn btn-primary m-3" [class.active]="selected === 'list'" (click)="showcontent('list')">View Movies List</button>
    <button class="btn btn-primary m-3"  [ngClass]="{'active': selected === 'rent'}" (click)="showcontent('rent')">Rent a Movie</button>
    <button class="btn btn-primary m-3"  [ngClass]="{'active': selected === 'create'}" (click)="showcontent('create')">Add a Movie</button>
<div [ngSwitch]="selected">
  <div *ngSwitchCase="'rent'">
    <app-rent-movie-component></app-rent-movie-component>
  </div>
  <div *ngSwitchCase="'detail'">
    <app-movie-detail [movie]= selectedmovie></app-movie-detail>
  </div>
  <div *ngSwitchCase="'edit'">
    <app-edit-movie [movie]= selectedmovie (movieupdated)="updateMovie($event)"></app-edit-movie>
  </div>
  <div *ngSwitchCase="'create'">
    <app-create-movie [lastId]= lastId (moviecreated)="createMovie($event)"></app-create-movie>
  </div>
  <div *ngSwitchDefault>
    <app-movies-list-component [movielist] ="movies" (showmovie) = "viewDetail($event)" (editmovie) = "editDetail($event)"></app-movies-list-component>
  </div>
</div>

  </section>
</main>

<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="http://epicmovies.com/">{{title | uppercase}}</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

